@import url("/src/css-reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.bg-navbar {
  background: rgb(2, 0, 36);
}

@media only screen and (max-width: 768px) {
  .btn-nav {
    height: 35px !important;
  }
}

@media only screen and (min-width: 768px) {
  .sec-nav {
    display: none;
  }
}

.sec-nav{
  font-size: 1rem;
}

.icon-tog {
  font-size: 1rem;
}



.input-wrapper {
  position: relative;
  width: 230px;
}


.icono-call {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 1rem 0;
}

.icono-call a{
  position: relative;
}

.icono-call a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: blue;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.icono-call a:hover{
  color: #fff;
}
.icono-call a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}

.icono-home {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.icono-destacados {
  color: rgb(255, 255, 255);
  font-size: 25px;
}



.ocultar-buscador{
display: flex;
width: 100%;
}

@media (min-width: 768px) {
  .ocultar-buscador {
    display: none;
  }
  .SearchIconMobile{
    display: none;
  }
}

.SearchIconMobile{
  border: 2px solid #151515;
  border-radius: 0.5rem;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  padding: .5rem;
}
.SearchIconMobile:hover{
  color: #fff;
}

.color-formc {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 78%,
    rgba(121, 139, 143, 1) 100%
  );
}

.bordes-contenedor {
  border-radius: 5px;
}

.title {
  color: #fcfafb;
  font-size: 25px;
  background-color: rgba(20, 18, 18, 0.852);
  border-radius: 5px;
}

/*Paleta de colores
navy: 0008C1;
blue: 2146C7;
beige:E6CBA8;
winter:FDF0E0;
*/

.bg-footer {
  background-color: rgb(69, 68, 68);
}
.footerLinks li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.footerLinks li a:hover {
  color: #0008c1;
}

@media only screen and (max-width: 760px) {
  .oculto {
    visibility: hidden;
    display: none;
  }
}

.social a {
  text-decoration: none;
  list-style-type: none;
}

.social a:hover {
  color: #fff;
}
.icono-footer {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #fff;
  position: relative;
  transition: scale 100ms ease-in-out;
  background: linear-gradient(180deg, #2146c7, #0008c1);
  border-radius: 50%;
  z-index: 1;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    scale: 1.5;
    opacity: 0;
  }
}

.icono-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: scale 1s ease;
}

.icono-footer:hover::after {
  animation: pulse 1s;
  transition: scale 1s ease;
}

.btn {
  background: linear-gradient(180deg, #2146c7, #0008c1);
  width: 7rem;
  height: 2.5rem;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 0.5rem;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: scale 1s ease;
}

.btn:hover::after {
  animation: pulse 1s;
  transition: scale 1s ease;
}
.btns {
  display: flex;
  width: 100%;
  justify-content: center;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem;
  width: 25rem;
  border: 2px solid #151515;
  border-radius: 1rem;
}

.Card:hover {
  border: 2px solid #0008c1;
}

.card > img {
  width: 100%;
  padding: 0;
}

.CardBody {
  margin: 2rem 0;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .ocultar-busqueda {
    display: none;
    visibility: hidden;
  }
}

.bt-volver {
  position: relative;
  top: 90%;

  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.bt-volver::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 0.5rem;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: scale 1s ease;
}

.bt-volver:hover::after {
  animation: pulse 1s;
  transition: scale 1s ease;
}

.image-e {
  background-image: url(/public/images/error.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  margin: auto;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .image-e {
    background-size: contain;
  }
  .bt-volver {
    position: relative;
    top: 70%;
    width: 100%;
  }
}

.desp {
  color: red;
  cursor: pointer;
}

.icon-desp {
  font-size: 30px;
}
@media only screen and (max-width: 767px) {
  .desp {
    visibility: hidden;
    display: none;
  }
}
.canv {
  width: 300px !important;
  background-color: rgb(235, 233, 233) !important;
}
@media only screen and (max-width: 768px) {
  .canv {
    height: 60%;
    width: 95% !important;
  }
}
@media only screen and (max-width: 425px) {
  .canv {
    display: none;
    height: 70%;
    width: 95% !important;
  }
}

.bt-sort {
  font-size: 20px;
  background-color: rgb(235, 233, 233);
}

.carousel-inner img {
  width: 100%;
  max-height: 600px;
}

.SocialHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.SocialHeader li {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

.SocialHeader li a {
  border-radius: 50%;
  display: flex;
  position: relative;
  padding: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

.SocialHeader a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: scale 1s ease;
  background: linear-gradient(180deg, #2146c7, #0008c1);
}

.SocialHeader a:hover::after {
  animation: pulse 1s;
  transition: scale 1s ease;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchIcon {
  padding: 0.5rem;
  border: 2px solid #151515;
  border-radius: 0.5rem;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.SearchIcon:hover {
  color: #fff;
}

.input-wrapper {
  width: 25rem;
}

.Buscador {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.buscadorMessage {
  margin: auto;
  padding: 2rem;
}

.navIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin:0 1rem;
}



.textNav{
  margin-left: .5rem;
  font-size: 1rem;
}

.navIconsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.navBarMobile{
  display: flex;
  justify-content: space-between;
}

@media (max-width:750px){
  .navBarMobile{
    display: flex;
    flex-direction: column;
  }
}

.mainSection tr{
  text-align: center;
}
.mainSection td{
  text-align: start;
  max-width: 150px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
}